.container{
    width:200px;
    height:240px;
    border: 1px solid white;
    overflow:hidden;
}

.image{
    min-width:100%;
    max-width:100%;
    object-fit:contain;
}
.recipeName{
    margin-top:0px;
    margin-left:5px;
    margin-bottom:-5px;
    color:#A4E041;
}

.description{
    margin-left:2px;
    margin-right:2px;
    color:white;
    font-size:12px;
    
}
.viewMore{
   margin-top:10px;
   font-size:12px;
    margin-left:10px;
    float:right;
    padding:7px;
    background-color:#A4E041;
}